<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
        </div>
        <div class="card-body">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <div *ngIf="success" class="alert alert-success">{{success}}</div>
                <form [formGroup]="changePassword" (ngSubmit)="handleSubmit()">
                    <div class="mb-3">
                        <div class="form-group">
                            <input formControlName="currentPassword" type="password" placeholder="Current Password" name="currentPassword" id="currentPassword" [class.is-invalid]="f['currentPassword'].touched && f['currentPassword'].invalid" class="form-control">
                        </div>
                        <div *ngIf="f['currentPassword'].invalid && f['currentPassword'].touched" class="errors text-danger">
                            <p *ngIf="f['currentPassword'].errors && f['currentPassword'].errors['required']">Current Password is required</p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <input formControlName="newPassword" type="password" placeholder="New Password" name="newPassword" id="newPassword" [class.is-invalid]="f['newPassword'].touched && f['newPassword'].invalid" class="form-control">
                        </div>
                        <div *ngIf="f['newPassword'].invalid && f['newPassword'].touched" class="errors text-danger">
                            <p *ngIf="f['newPassword'].errors && f['newPassword'].errors['required']">New Password is required</p>
                            <p *ngIf="f['newPassword'].errors && f['newPassword'].errors['minlength']">Password must be at least 8 characters</p>
                        </div>
                    </div>

                    
                    <div class="mb-3">
                        <div class="form-group">
                            <input formControlName="confirmPassword" type="password" placeholder="New Password" name="confirmPassword" id="confirmPassword" [class.is-invalid]="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="form-control">
                        </div>
                        <div *ngIf="f['confirmPassword'].touched && (f['confirmPassword'].invalid || matchPasswordError)  " class="errors text-danger">
                            <p *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Confirm Password is required</p>
                            <p *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['minlength']">password must be at least 8 characters</p>
                            <p *ngIf="matchPasswordError">Passwords do not match</p>

                        </div>
                    </div>

                    <div class="row">
                        <div class="d-grid">
                            <button [disabled]="changePassword.invalid || matchPasswordError" [class.disabled]="changePassword.invalid || matchPasswordError" type="submit"  class="btn btn-primary btn-block">Channge</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->