/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';



a {
    text-decoration: none;
}

*,
::after,
::before{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}
